# django
SECRET_KEY=
DEBUG=

# Postgres
NAME=
USER=
PASSWORD=
HOST=
PORT=

# admin
ADMIN_EMAIL=
ADMIN_PASSWORD=

# send_email
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USE_TLS=
EMAIL_USE_SSL=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=n

# redis
CACHE_LOCATION=
