{% extends 'base.html' %}
{% load my_tags %}

{% block content %}

{% include 'blog/includes/home_header.html' %}

<div class="container">
    <div class="mb-3">
        {% if user.is_authenticated %}
        <a class="btn btn-outline-secondary" href="{% url 'blog:article_create' %}" role="button">Создать запись</a>
        {% endif %}
    </div>
    <div class="row">
        {% for article in object_list %}
            {% if article.is_active %}
            <div class="md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5>{{ article.title }}</h5>
                        <img src="{{ article.image | media_filter }}" width="100px" alt="def">
                        <p>{{ article.content|truncatechars:100 }}</p>
                        <div class="btn-group">
                            <a class="btn btn-outline-primary" href="{% url 'blog:article_detail' article.pk %}" role="button">Подробнее</a>
                            {% if user.is_authenticated %}
                            <a class="btn btn-outline-secondary" href="{% url 'blog:article_create' article.pk %}" role="button">Редактировать</a>
                            <a class="btn btn-outline-danger" href="{% url 'blog:article_delete' article.pk %}" role="button">Удалить</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
</div>

{% include 'blog/includes/inc_page.html' %}
{% endblock %}