{% extends 'base.html' %}
{% block content %}

{% include 'includes/home_header.html' %}

<div class="container">
    <h2>Последние продукты</h2>
    <div class="row">
        {% for product in products %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5>{{ product.name }}</h5>
                        <p>{{ product.description }}</p>
                        <p><strong>{{ product.price }} ₽</strong></p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}